<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="headingLms">
        <h1 id="Headinh1">Library Management System (LMS)</h1>
    </div>

    <div class="card">

        <h2 id="LoginHeading">Login</h2>


        <div class="user-inputs">

            <input type="text" placeholder="Enter your ID"><br>

            <input type="password"placeholder="Enter your password"><br>

            <button id="loginBtn" onclick="Login()">Login</button>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>